.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #e6e2cf;
}
.Header img{
    width: 25px;
}
.DP{
    border-radius: 10em;
}
.nav_items img{
    margin: 0 0.8em;
}
